
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">UI İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Sosyal Medya Hesapları</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Hakkımızda</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">İletişim</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Roles/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Rol İşlemleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Blog/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Comment/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Yorum İşlemleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/HelpAdmin/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Yazar Destek</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Notification/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index" target="_blank">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Yazar Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/" target="_blank">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
