@model List<AppUser>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/blogy101/images/hero_5.jpg');">
	<div class="container">
		<div class="row same-height justify-content-center">
			<div class="col-md-6">
				<div class="post-entry text-center">
					<h1 class="mb-4">Hakkımızda</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section sec-halfs py-0">
	<div class="container">
		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img" style="background-image: url('/blogy101/images/hero_1.jpg')" data-aos="fade-in" data-aos-delay="100">
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">Haytınıza renk katacak bloglar, sizi dünyaya bağlayacak haberler burda.</h2>
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p>
			</div>
		</div>

		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img order-md-2" style="background-image: url('/blogy101/images/hero_2.jpg')" data-aos="fade-in">
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">Hergün 5.000 den fazla kullanıcın tercih ettiği bir platform.</h2>
				<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p>
			</div>
		</div>
	</div>

</div>

<div class="section sec-features">
	<div class="container">
		<div class="row g-5">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<div class="feature d-flex">
					<span class="bi-bag-check-fill"></span>
					<div>
						<h3>Sen De Blog Yaz</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="feature d-flex">
					<span class="bi-wallet-fill"></span>
					<div>
						<h3>Araştımalar ve Makaleler</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
				<div class="feature d-flex">
					<span class="bi-pie-chart-fill"></span>
					<div>
						<h3>Sana Özel Bloglar</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">

		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
				<h2 class="heading text-primary">Ekibimiz</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
			</div>
		</div>

		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
					@if(item.ImageUrl == null)
					{
						<img src="~/blogy101/images/randomuser.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					}
					else
					{
						<img src="@item.ImageUrl" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
					}
					<h5 class="text-black">@item.Name @item.Surname</h5>
					<p>@item.Description </p>
				</div>
			}
			
		</div>

	</div>
</div>

