
@{
    ViewData["Title"] = "categori";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Profil Bilgileri Düzenle</h4>
     <div>
         <h1>Card</h1>
     </div>
    </div>
</div>
