@{
    ViewData["Title"] = "categori";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body text-center">
        <h2>Blog Listesi</h2>
        <hr />
        <div class="my-5">
            <h1>Card</h1>
        </div>
    </div>
</div>
