@model Blogy.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Kategori Güncelle</h4>
        <div>
            <form method="post">
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="form-group">
                    <label>Kategori Adı</label>
                    <input type="text" name="Name" class="form-control" value="@Model.Name" />
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>
