@model About

<div class="section sec-halfs py-0">
	<div class="container">
		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img" style="background-image: url('/blogy101/images/hero_1.jpg')" data-aos="fade-in" data-aos-delay="100">
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">@Model.Text1Title</h2>
				<p class="mb-4">@Model.Text1Content</p>
				@* <p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p> *@
			</div>
		</div>

		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img order-md-2" style="background-image: url('/blogy101/images/hero_2.jpg')" data-aos="fade-in">
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">@Model.Text2Title</h2>
				<p class="mb-4">@Model.Text2Content</p>
			@* 	<p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p> *@
			</div>
		</div>
	</div>

</div>