<style>
	.search-form .input-group {
		display: flex;
		justify-content:space-between;
	}

		.search-form .input-group .form-control {
			flex: 1;
			margin-right:15px;
		}

	.search-form .form-control {
		width: 300px; /* Genişlik için istediğiniz değeri ayarlayın */
		height: 50px; /* Yükseklik için istediğiniz değeri ayarlayın */
	}
</style>
<nav class="site-nav">
	<div class="container">
		<div class="menu-bg-wrap">
			<div class="site-navigation">
				<div class="row g-0 align-items-center">
					<div class="col-2">
						<a href="/Blog/Index/" class="logo m-0 float-start">Blogy<span class="text-primary">.</span></a>
					</div>
					<div class="col-8 text-center">
						<form action="#" class="search-form d-inline-block d-lg-none">
							<input type="text" class="form-control" placeholder="Ara...">
							<span class="bi-search"></span>
						</form>

						<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
							<li><a href="/Blog/Index/">Anasayfa</a></li>
							<li><a href="/Blog/BlogList/">Blog Listesi</a></li>
							<li><a href="/About/Index/">Hakkımızda</a></li>
							<li><a href="/Contact/Index/">İletişim</a></li>
							<li><a href="/Login/Index/">Yazar Girişi</a></li>
						</ul>
					</div>
					<div class="col-2 text-end">
						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
							<span></span>
						</a>
						<form asp-controller="Blog" asp-action="BlogList" class="search-form d-none d-lg-inline-block">
							<div class="input-group">
								<input type="text" name="filter" class="form-control" placeholder="Blog Ara...">
								<span class="bi-search"></span>
								<span class="input-group-btn ml-2">
									<button class="btn btn-outline-light btn-sm" type="submit">Bul</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>