@model CreateRoleViewModel
@{
    ViewData["Title"] = "Role Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <h1>Rol Oluştur</h1>
    <hr />
    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="form-group mt-3">
                    <label>Rol Adı</label>
                    <input type="text" asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group mt-3">
                    <label>Rol Açıklaması</label>
                    <input type="text" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group mt-3">
                   <button class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>



