
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h1>İstatistikler</h1>
    <hr />
    <ul>
        <li>
           Kategori Sayısı: @ViewBag.categoryCount
        </li>
    </ul>
</div>