@{
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


@await Component.InvokeAsync("_BlogDetailByCoverInfoComponentPartial", new { id = ViewBag.blogId })



<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                @await Component.InvokeAsync("_BlogDetailByBlogContentComponentPartial", new { id = ViewBag.blogId })
                <div class="pt-5 comment-wrap">
                    @await Component.InvokeAsync("_BlogDetailCommentComponentPartial", new { id = ViewBag.blogId })
                    @await Component.InvokeAsync("_BlogDetailLeaveACommentComponentPartial", new { id = ViewBag.blogId })

                </div>
            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="sidebar-search-form">
                        <span class="bi-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Aranacak Kelimeyi Giriniz...">
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    @await Component.InvokeAsync("_BlogDetailByWriterInfoComponentPartial", new { id = ViewBag.blogId })


                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    @await Component.InvokeAsync("_BlogDetailGetOtherBlogPostsByWriterComponentPartial")
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    @await Component.InvokeAsync("_BlogDetailCategoryListComponentPartial")
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    @await Component.InvokeAsync("_BlogDetailTagsComponentDetail")
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>
<!-- Start posts-entry -->
@await Component.InvokeAsync("_BlogDetailOtherPostsComponentPartial")

